*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

img{
    height: 30%;
    width: 25%;
    margin: 0 27% -3% 37%;
}

.container{
    width: 100vh;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25% 0 25%;
}

.container form{
    width: 70%;
    height: 90%;
    padding: 50px 30px 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(177, 171, 171, 0.5);
    position: relative;
}

#head{
    position: relative;
    top: -5%;
    left: 12%;
    color: #1C1E21;
}

#para1{
    position: relative;
    top: -3%;
    left: 32%;
    font-size: 17px;
    color: #606770;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 12px 0;
    position: relative;
}

.input-group label{
    flex-basis: 28%;
}

.input-group input{
    width: 20%;
    padding: 11px;
    background:transparent;
    flex-basis: 98%;
    border: 1px solid #999999bd;
    border-radius: 5px;
    color: #333;
    font-size: 15px;
}

.gender-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: -5%;
}

.gender-select{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid  black;
    border-radius: 8%;
}

#para2{
    color: #606770;
    font-size: 13px;
}

#para2 a{
    text-decoration: none;
    color: blue;
}

#btn{
    width: 50%;
    padding: 2%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(19, 190, 19);
    border-radius: 8px;  
    border: none;
    margin: 2% 0 2% 25%;
}

#para3{
    color: rgba(0, 0, 255, 0.671);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.input-group span{
    position: absolute;
    top: 40%;
    display: block;
    font-size: 14px;
    color: red;
}

#submit-error{
    color: red;
}